.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.main {
  margin-bottom: 30px;
}
